#catalog {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#catalogName {
    margin-bottom: var(--mini-text);

    box-sizing: border-box;
    width: 100%;
    height: calc(1.25 * var(--medium-text-1));

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: calc(0.15 * var(--medium-text-2)) solid var(--my-blue-1);
    box-shadow: 0px 0px var(--medium-text-1) var(--dark-3);

    background-image: var(--back-img);
    background-position: calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;
}

#catalogName span {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: calc(1.2 * var(--mini-text));
    font-weight: 400;

    color: var(--my-yellow);
    background: linear-gradient(to right, transparent 0%, var(--light-1) 15%, var(--light-1) 85%, transparent);
}

#productsContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.no-product-card {
    padding: var(--mini-text);

    box-sizing: border-box;
    min-width: 100%;
    min-height: calc(15 * var(--mini-text));

    flex: 1 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    border: calc(0.2 * var(--medium-text-2)) solid var(--dark-3);
    border-radius: calc(0.5 * var(--mini-text));
    box-shadow: 0px 0px var(--medium-text-1) var(--dark-3),
          inset 0px 0px calc(2.5 * var(--mini-text)) var(--dark-3);

    background-image: var(--black-back-img);
    background-position: calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;

    transition: var(--speed-1);
}

.no-product-card .material-icons {
    font-size: calc(12 * var(--mini-text));
    position: absolute;
    top: calc(50% - 6 * var(--mini-text));
    left: calc(50% - 6 * var(--mini-text));
    color: var(--dark-1);
    text-shadow: 0px 0px calc(1.5 * var(--mini-text)) var(--dark-3);
    opacity: 0.8;
}

.no-product-card .text {
    font-size: calc(2.5 * var(--mini-text));
    font-weight: 600;
    text-align: center;
    color: var(--light-2);
    text-shadow: 0px 0px calc(2.5 * var(--mini-text)) var(--light-2);
    z-index: 5;
}