#left-menu {
    width: 21%;
    min-width: 250px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-right: calc(0.2 * var(--medium-text-2)) dashed var(--my-blue-1);

    background-image: var(--back-img);
    background-position:  calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;
}

#logo {
    width: 100%;
    height: clamp(90px, 0.7rem, 0.7rem);

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    color: var(--my-blue-1);
}

#logo img {
    width: clamp(65px, 0.5rem, 0.5rem);
}

#logo span {
    font-weight: 900;
    font-size: var(--medium-text-1);
    transition: color var(--speed-1), text-shadow var(--speed-1);
}

#logo:hover span {
    color: var(--my-yellow);
    text-shadow: 0px 0px 20px var(--my-yellow);
    transition: var(--speed-1);
}

#logo:active span {
    color: var(--my-orange);
    text-shadow: 0px 0px 20px var(--my-orange);
    transition: var(--speed-2);
}

#category-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#category-button, #category-list span {
    margin: calc(0.5 * var(--mini-text));
    padding: 0 calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    height: calc(1.25 * var(--medium-text-1));

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: calc(0.8 * var(--medium-text-2));
    font-weight: 400;
    text-decoration: none;

    border: calc(0.125 * var(--medium-text-2)) dashed var(--my-blue-1);

    color: var(--my-blue-1);
    background-color: var(--light-1);

    transition: var(--speed-1);
}

#category-list span {
    font-size: calc(0.75 * var(--medium-text-1));
    font-weight: 800;

    border: calc(0.125 * var(--medium-text-2)) solid var(--my-blue-1);
}


#category-button:hover {
    padding-left: var(--mini-text);

    border: calc(0.125 * var(--medium-text-2)) solid var(--my-blue-1);

    color: var(--my-blue-2);

    transition: var(--speed-1);
}

#category-button:active, #category-button.active {
    border: calc(0.125 * var(--medium-text-2)) solid var(--my-blue-2);

    color: var(--my-blue-2);

    transition: var(--speed-1);
}