#right-menu {
    padding: calc(0.15 * var(--medium-text-1)) calc(0.3 * var(--medium-text-1));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-left: calc(0.2 * var(--medium-text-2)) dashed var(--my-blue-1);

    background-image: var(--back-img);
    background-position:  calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin: calc(0.15 * var(--medium-text-1)) 0px;
    width: calc(1.5 * var(--medium-text-1));
    height: calc(1.5 * var(--medium-text-1));

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;

    border: calc(0.1 * var(--medium-text-2)) dashed var(--my-blue-1);
    border-radius: 50%;

    background-color: var(--light-2);
    transition: background-color var(--speed-1), box-shadow var(--speed-1);
}

.icon:hover {
    z-index: 1;
    border: calc(0.1 * var(--medium-text-2)) dashed var(--light-2);

    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition-duration: var(--speed-1);
}

.icon:active, .icon.active {
    border: calc(0.1 * var(--medium-text-2)) solid var(--light-2);
    
    text-decoration: none;

    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition-duration: var(--speed-1);
}

.icon .material-icons {
    font-size: calc(1.2 * var(--medium-text-2));
    line-height: calc(1.2 * var(--medium-text-2));
    color: var(--my-blue-1);
    transition: filter var(--speed-1);
}

.icon:hover .material-icons {
    color: var(--light-2);
    transition-duration: var(--speed-1);
}

.icon:active .material-icons, .icon.active .material-icons {
    color: var(--light-2);
    transition-duration: var(--speed-1);
}