#main-content {
    justify-content: center;
}

#to-login-btn {
    margin-top: var(--medium-text-2);
    
    width: 40%;
    min-width: 400px;
    height: calc(1.5*var(--medium-text-1));
    min-height: 46px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: calc(0.125 * var(--medium-text-1)) dashed var(--light-1);
    outline: none;

    background-color: var(--my-blue-1);
    color: var(--light-1);
    transition: var(--speed-2);

    z-index: 5;
}

#to-login-btn:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

#to-login-btn:active {
    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition: var(--speed-2);
}

#to-login-btn img {
    margin-left: -5%;
    height: 75%;
    filter: invert(99%) sepia(29%) saturate(2%) hue-rotate(172deg) brightness(109%) contrast(101%);
}

#signup-menu {
    padding: var(--medium-text-1) 0;

    box-sizing: border-box;
    width: 40%;
    min-width: 400px;
    height: fit-content;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: calc(0.2 * var(--medium-text-2)) dashed var(--my-blue-1);

    background-image:  linear-gradient(135deg, var(--light-1) 25%, transparent 25%), linear-gradient(225deg, var(--light-1) 25%, transparent 25%), linear-gradient(45deg, var(--light-1) 25%, transparent 25%), linear-gradient(315deg, var(--light-1) 25%, var(--light-2) 25%);
    background-position:  calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;

    box-shadow: 0px 0px calc(3*var(--medium-text-2)) var(--dark-3);
}

#text {
    margin-bottom: var(--mini-text);

    flex-direction: column;
    align-items: center;
}

#profile-logo {
    margin-bottom: calc(-0.5 * var(--mini-text));

    font-weight: 900;
    font-size: calc(2.2 * var(--medium-text-1));

    color: var(--my-yellow);
    text-shadow: 0px 0px calc(1.5*var(--medium-text-2)) var(--my-yellow);
}

#description {
    font-weight: 600;
    font-size: var(--medium-text-1);
    z-index: 10;
    
    color: var(--my-orange);
}

#description.dark {
    margin-bottom: var(--mini-text);

    font-weight: 400;
    font-size: var(--medium-text-2);

    color: var(--dark-1);
}

#profile-inputs {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#profile-inputs input {
    margin: calc(0.2*var(--medium-text-2)) 0;
    padding: 0 var(--mini-text);

    width: 60%;
    height: calc(1.75*var(--medium-text-2));

    font-size: var(--mini-text);

    border: calc(0.15*var(--medium-text-2)) dashed var(--my-blue-1);
    outline: none;
    box-sizing: border-box;

    text-align: center;

    background-color: var(--light-1);
    color: var(--my-yellow);

    z-index: 1;
}

#profile-inputs input[wrong="true"] {
    border: calc(0.15*var(--medium-text-2)) dashed var(--my-orange);
    background-color: var(--light-2);
    color: var(--my-orange)
}

#profile-inputs input::placeholder {
    color: var(--my-blue-1);
}

#profile-inputs input[wrong="true"]::placeholder {
    color: var(--my-yellow)
}

#profile-inputs button {
    margin: calc(0.2*var(--medium-text-2)) 0;
    
    width: 60%;
    height: calc(1.75*var(--medium-text-2));

    font-size: var(--mini-text);

    border: none;
    outline: none;

    background-color: var(--my-blue-1);
    color: var(--light-1);
    transition: var(--speed-2);
}

#profile-inputs button:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

#profile-inputs button:active {
    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition: var(--speed-2);
}

#profile-inputs button:disabled {
    background-color: var(--dark-1);
    box-shadow: none;
    transition: var(--speed-2);
}