<div id="categories-box">
    <div id="panel">
        <div id="buttons">
            <div class="block">
                <router-link 
                    v-for="(pageName, key) in {categoryAdm: 'Категории', productAdm: 'Товары'}"
                    :to="{ name: key }" 
                    class="button" 
                    active-class="active-btn"
                >
                {{pageName}}
                </router-link>
            </div>
            <div class="block">
                <router-link 
                    v-for="(pageName, key) in {commentAdm: 'Комментарии', employeeAdm: 'Работники'}"
                    :to="{ name: key }" 
                    class="button" 
                    active-class="active-btn"
                >
                {{pageName}}
                </router-link>
            </div>
        </div>
        <div id="text">Панель администратора. Категории</div>
    </div>

    <div id="head-menu">
        <div>
            <input type="text" v-model="newCategory.name" placeholder="Название новой категории">
            <button @click="createCategory()">
                <span class="material-icons">
                    add_circle_outline
                </span>
            </button>
        </div>

        <span style="height:calc(2 * var(--mini-text));">Всего категорий: {{categories.length}}шт.</span>

        <button v-if="checkedCategories.length" id="delete-btn" @click="deleteCategories()">
            Удалить выбранные категории
            <span class="material-icons">
                delete_forever
            </span>
        </button>
    </div>

    <div v-for="category in categories" class="category-item" :id="'category-item-'+category.uuid">
        <div>
            <input type="text" v-model="category.name" @change="renameCategory(category)" :id="'category-name-'+category.uuid">
            <label :for="'category-name-'+category.uuid">
                <span class="material-icons">
                    drive_file_rename_outline
                </span>
            </label>
        </div>
        <div>
            <span>Количество товаров: {{category.productsCount}}шт.</span>
            <label :for="'check-category-'+category.uuid" class="delete-check-label" :checked="checkedCategories.find(thisCategoryUUID => thisCategoryUUID == category.uuid)">
                <input type="checkbox" :id="'check-category-'+category.uuid" v-model="checkedCategories" :value="category.uuid">
            </label>
        </div>
    </div>
</div>