<div id="categories-box">
    <div v-for="category in categories" class="category-item" :id="'category-item-'+category.uuid" @click.self="checkItem(category.uuid)">
        <div>
            <input type="text" v-model="category.name">
            <button><img src="/icon/rename.svg" alt="Переименовать" @click="renameCategory(category)"></button>
        </div>
        <div>
            <span @click.self="checkItem(category.uuid)">Количество товара: {{category.Products.length}}шт.</span>
            <input type="checkbox" :id="'check-'+category.uuid" v-model="checkedCategories" :value="category.uuid">
        </div>
    </div>
    {{checkedCategories}}
</div>