<div id="profile-content">
    <div id="header" class="row">
        <div id="photo" @click="uploadProfilePhoto" new-photo>
            <img v-if="userData.photoURL" :src="userData.photoURL" alt="Фотография профиля">
            <span v-else class="material-icons">
                account_box
            </span>
        </div>

        <div id="text">
            <span id="logo">MyRoom</span>
            <span id="name">Добро пожаловать, {{userData.name}}!</span>
        </div>
    </div>

    <div id="panel">
        <div id="buttons">
            <router-link
                v-for="(pageName, key) in {categoryAdm: 'Категории', productAdm: 'Товары', commentAdm: 'Комментарии', employeeAdm: 'Работники'}"
                :to="{ name: key }" class="button" active-class="active-btn">
                {{pageName}}
            </router-link>
        </div>
        <div id="text">Панель администратора</div>
    </div>
</div>