<div id="login-menu">
    <div id="text">
        <span id="profile-logo">MyRoom</span>
        <span id="description" class="dark">интернет-магазин мебели</span>
        <span id="description">Войти в аккаунт</span>
    </div>

    <div id="profile-inputs">
        <input 
            type="text" 
            name="login" 
            placeholder="Логин" 
            v-model="user.login" 
            :wrong="wrongInput.login"
        >
        <input 
            type="password" 
            name="password" 
            placeholder="Пароль" 
            v-model="user.password" 
            :wrong="wrongInput.password"
        >
        <button @click="loginReq" :disabled="haveErrors">Войти</button>
    </div>
</div>

<button id="to-signup-btn" @click="$router.push({name: 'signup'})">
    <span>Зарегестрироваться</span>
    <span class="material-icons">
        arrow_forward_ios
    </span>
</button>