<div id="title">{{$route.params.productName}}</div>
<div class="carousel">
    <img v-for="photo in product.ProductPhotos" :src="photo.url" alt="Фото товара" />
</div>
<div id="menu">
    <div id="sidebar">
        <div class="buttons">
            <div>
                <button class="to-basket-btn" :class="{'in-basket': inBasket}" @click="toggleBasket(product)">{{(inBasket)?'Убрать из корзины':'В корзину'}}</button>
                <span class="price">
                    {{product.price.toString().slice(0, 2)+' '+product.price.toString().slice(2)}} руб.
                </span>
            </div>
            <span class="material-icons favorite" :class="{'in-favorite': inFavorite}" title="В избранное" @click="toggleFavorite(product)">
                bookmark_add
            </span>
        </div>
        <div id="characteristic">
            <span class="item">
                <span>Размеры (ШxВxГ):</span>
                <span class="dots"></span>
                <span>{{product.dimensions.join(' x ')}}см.</span>
            </span>

            <span class="item">
                <span>Вес:</span>
                <span class="dots"></span>
                <span>{{product.weight}}кг.</span>
            </span>

            <span class="item">
                <span>Материал:</span>
                <span class="dots"></span>
                <span>{{product.materials.join(', ')}}</span>
            </span>
            
            <span class="item">
                <span>Страна-производитель:</span>
                <span class="dots"></span>
                <span>{{product.madeIn}}</span>
            </span>

            <span class="item">
                <span>Гарантия:</span>
                <span class="dots"></span>
                <span>{{product.warranty || 'отсутствует'}}мес.</span>
            </span>
        </div>
    </div>

    <div id="description">
        {{product.description}}
        <div class="info">
            <div id="rate">
                <span>Оценка товара:</span>
                <div class="stars">
                    <span v-for="i in getProductRate(product)" class="material-icons star">
                        star
                    </span>
                    <span v-for="i in (5-getProductRate(product))" class="material-icons star">
                        star_border
                    </span>
                </div>
                <span class="comments-count" title="Количество отзывов">| {{product.Comments.length}}</span>
            </div>
            <span class="count" :class="{'no-product': !product.count}">
                Доступно для покупки: {{product.count || 0}}шт.
            </span>
        </div>
    </div>
</div>

<div id="title">Комментарии</div>

<div class="comment-container">
    <textarea v-model="product.newComment" placeholder="Напишите что-нибудь.." class="text"></textarea>

    <div id="rate">
        Ваша оценка товара:
        <div class="stars">
            <span v-for="i in product.newRate" class="material-icons star" @click="product.newRate = i">
                star
            </span>
            <span v-for="i in (5-product.newRate)" class="material-icons star" @click="product.newRate = i+product.newRate">
                star_border
            </span>
        </div>
    </div>

    <button @click="sendComment" title="Отправить комментарий">
        <span class="material-icons">
            send
        </span>
    </button>
</div>

<CommentCard v-for="comment in product.Comments" :comment="comment" />