<div id="signup-menu">
    <div id="text">
        <span id="profile-logo">MyRoom</span>
        <span id="description" class="dark">интернет-магазин мебели</span>
        <span id="description">Регистрация</span>
    </div>

    <div id="profile-inputs">
        <template v-if="step == 1">
            <input type="text" placeholder="*Логин*" v-model="user.login" :wrong="wrongInput.login">
            <input type="password" placeholder="*Пароль*" v-model="user.passwordOne" :wrong="wrongInput.password">
            <input type="password" placeholder="*Подтвердите пароль*" v-model="user.passwordTwo" :wrong="wrongInput.password">
            <button @click="signupStep1" :disabled="haveErrorsStep1">
                <span>Далее</span>
            </button>
        </template>
        
        <template v-if="step == 2">
            <input type="text" placeholder="*Ваше имя*" v-model="user.name" :wrong="wrongInput.name">
            <input type="email" placeholder="*Почта email*" v-model="user.email" :wrong="wrongInput.email">
            <input type="text" placeholder="Телефон" v-model="user.phone" :wrong="wrongInput.phone">
            <button @click="signupReq" :disabled="haveErrorsStep2">Зарегистрироваться</button>
            <button @click="step -= 1">Назад</button>
        </template>
        
    </div>
</div>

<button id="to-login-btn" @click="$router.push({name: 'login'})">
    <span class="material-icons">
        arrow_back_ios
    </span>
    <span>Войти в аккаунт</span>
</button>