<div id="panel">
    <div id="buttons">
        <div class="block">
            <button 
                v-for="(tabName, key) in {favorite: 'Избранное', basket: 'Корзина'}"
                class="button" 
                :class="{'active-btn': key == currentTab}"
                @click="currentTab = key"
            >
            {{tabName}}
            </button>
        </div>
        <div class="block">
            <button 
                v-for="(tabName, key) in {bought: 'Куплено'}"
                class="button" 
                :class="{'active-btn': key == currentTab}"
                @click="currentTab = key"
            >
            {{tabName}}
            </button>
        </div>
    </div>
</div>

<div v-if="currentTab == 'favorite'" id="favorite" class="productsContainer">
    <ProductCard 
        v-for="order in favoriteProducts" 
        :product="order.Product" 
        :isFavorite="true" 
        :inBasket="basketProducts.find(basket => basket.ProductUuid == order.Product.uuid) != null" 
    />
</div>

<div v-if="currentTab == 'basket'" id="basket" class="productsContainer">
    <ProductCard 
        v-for="order in basketProducts" 
        :product="order.Product" 
        :isFavorite="favoriteProducts.find(favorite => favorite.ProductUuid == order.Product.uuid) != null" 
        :inBasket="true" 
    />
</div>


                