<div id="panel">
    <div id="buttons">
        <div class="block">
            <button 
                v-for="(tabName, key) in {favorite: 'Избранное', basket: 'Корзина'}"
                class="button" 
                :class="{'active-btn': key == currentTab}"
                @click="currentTab = key"
            >
            {{tabName}}
            </button>
        </div>
        <div class="block">
            <button 
                v-for="(tabName, key) in {bought: 'Куплено'}"
                class="button" 
                :class="{'active-btn': key == currentTab}"
                @click="currentTab = key"
            >
            {{tabName}}
            </button>
        </div>
    </div>
</div>

<div v-if="currentTab == 'favorite'" id="favorite" class="productsContainer">
    <ProductCard 
        v-for="order in favoriteProducts" 
        :product="order.Product" 
        :isFavorite="true" 
        :inBasket="basketProducts.find(basket => basket.ProductUuid == order.Product.uuid) != null" 
    />
</div>

<div v-if="currentTab == 'basket'" id="basket" class="productsContainer">
    <details id="product-card">
        <summary>
            <span>Можете приобрести сейчас. Сумма заказа: {{getTotalPrice(canBuyNow(basketProducts))}}руб.</span>
           
            <button @click="buyProducts(canBuyNow(basketProducts))">Оформить заказ</button>
        </summary>
        <br>
        <ProductCard 
            v-for="order in canBuyNow(basketProducts)" 
            :product="order.Product" 
            :isFavorite="favoriteProducts.find(favorite => favorite.ProductUuid == order.Product.uuid) != null" 
            :inBasket="true" 
            class="no-shadow"
        />
    </details>

    <details id="product-card">
        <summary>
            <span>Сможете приобрести потом. Сумма заказа: {{getTotalPrice(canBuyLater(basketProducts))}}руб.</span>
        </summary>
        <br>
        <ProductCard 
            v-for="order in canBuyLater(basketProducts)" 
            :product="order.Product" 
            :isFavorite="favoriteProducts.find(favorite => favorite.ProductUuid == order.Product.uuid) != null" 
            :inBasket="true" 
            class="no-shadow"
        />
    </details>
</div>


                