#profile-content {
    padding: var(--mini-text) 0;
    width: 100%;

    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

#header {
    margin-bottom: var(--mini-text);

    width: 100%;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#header #photo {
    box-sizing: border-box;
    width: calc(7.5 * var(--medium-text-1));
    height: calc(7.5 * var(--medium-text-1));

    justify-content: center;
    align-items: center;
    flex-grow: 0;

    border: calc(0.2 * var(--medium-text-2)) dashed var(--my-blue-1);
    box-shadow: 0px 0px var(--giant-text) var(--dark-3);

    background-color: var(--dark-2);
}

#header #photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#header #photo img[src='/icons/profile.svg'] {
    width: calc(5 * var(--medium-text-1));
    height: calc(5 * var(--medium-text-1));
    filter: invert(15%) sepia(15%) saturate(532%) hue-rotate(169deg) brightness(91%) contrast(80%);
}

#header #text {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 2;
}

#header #text #logo {
    margin: var(--medium-text-1) 0;

    font-weight: 900;
    font-size: calc(4 * var(--medium-text-2));

    color: var(--my-yellow);
    text-shadow: 0px 0px calc(1.75*var(--medium-text-1)) var(--my-yellow);

    z-index: 1;
}

#header #text #name {
    margin: 0 var(--medium-text-1);

    flex: 1, 2, 200px;
    text-align: center;
    
    font-weight: 400;
    font-size: calc(0.75 * var(--medium-text-1));

    color: var(--light-2);
}


#panel {
    margin-bottom: calc(var(--mini-text));

    max-width: 100%;
    min-height: calc(6 * var(--mini-text));

    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    border: calc(0.15 * var(--medium-text-2)) dashed var(--my-blue-1);

    background-image: var(--back-img);
    background-position:  calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;
}

#panel #buttons {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

#panel #buttons .block {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#panel #buttons .block .button {
    margin: calc(0.5*var(--mini-text)) calc(0.5*var(--mini-text));
    
    box-sizing: border-box;
    height: calc(1.75*var(--medium-text-2));
    width: calc(12*var(--mini-text));
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1, 1;
    
    text-decoration: none;
    font-size: var(--mini-text);

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-2);
    outline: none;

    background-color: var(--my-blue-1);
    color: var(--light-1);
    transition: var(--speed-2);
}

#panel #buttons .block .button:hover {
    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

#panel #buttons .block .button:active, #panel #buttons .block .button.active-btn {
    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);
    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition: var(--speed-2);
}

#panel #buttons .block .button:disabled {
    background-color: var(--dark-1);
    box-shadow: none;
    transition: var(--speed-2);
}

#panel #text {
    margin-bottom: calc(0.5*var(--mini-text));

    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: calc(1.5*var(--mini-text));
    font-weight: 600;

    color: var(--my-blue-2);
}