@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-1: rgb(120, 125, 130);
    --dark-2: rgb(100, 105, 110);
    --dark-3: rgb(50, 55, 60);

    --light-1: rgb(255, 255, 255);
    --light-2: #f0e6dc;

    --my-yellow: rgb(240, 170, 50);
    --my-orange: #f07832;

    --my-red-1: #f01414;
    --my-red-2: rgb(120, 20, 20);

    --my-blue-1: #8cc8c8;
    --my-blue-2: rgb(50, 100, 120);

    --my-green-1: rgb(150, 200, 150);
    --my-green-2: rgb(50, 100, 50);

    --speed-1: 0.25s;
    --speed-2: 0.1s;

    --giant-text: clamp(90px, 1rem, 1rem);
    --big-text-1: clamp(43.5px, 0.5rem, 0.5rem);
    --big-text-2: clamp(34.5px, 0.4rem, 0.4rem);
    --medium-text-1: clamp(35px, 0.25rem, 0.25rem);
    --medium-text-2: clamp(25px, 0.2rem, 0.2rem);
    --mini-text: clamp(15px, 0.15rem, 0.15rem);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: var(--mini-text);

    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    user-select: none; 
}

html {
    font-size: calc((100vw - 850px)/(1920 - 850) * (160 - 80) + 80px);
}

div {
    display: flex;
}

body, #app {
    width: 100vw;
    min-width: 850px;
    height: 100vh;
    min-height: 480px;

    flex-direction: row;
    justify-content: space-between;
}

#main-content {
    width: 100%;

    flex-direction: column;
    align-items: center;

    border-left: calc(0.2 * var(--medium-text-2)) dashed var(--my-blue-1);
    border-right: calc(0.2 * var(--medium-text-2)) dashed var(--my-blue-1);

    background-origin: border-box;
    background-color: var(--dark-1);
    background-image: repeating-linear-gradient(90deg, transparent, transparent var(--medium-text-2), var(--dark-2) var(--medium-text-2), var(--dark-2) calc(2 * var(--medium-text-2)));
    box-shadow: inset 0px 0px var(--giant-text) var(--dark-3);
}

#search {
    margin: var(--mini-text) 0;
    width: 100%;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#search input {
    padding-left: calc(0.2 * var(--medium-text-2));
    width: 100%;
    height: calc(1.25 * var(--medium-text-1));

    font-size: var(--mini-text);

    border: calc(0.15 * var(--medium-text-2)) dashed var(--my-blue-1);
    border-right: none;
    outline: none;

    background-color: var(--light-1);
    color: var(--my-blue-1);
}

#search input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin: 0 calc(0.2 * var(--medium-text-2));
    height: calc(0.9 * var(--medium-text-2));
    width: calc(0.9 * var(--medium-text-2));

    background-image: url('/icons/delete.svg');
    background-size: contain;
    filter: invert(48%) sepia(70%) saturate(1279%) hue-rotate(343deg) brightness(105%) contrast(88%);
    transition: 200ms;
}

#search input::-webkit-search-cancel-button:hover {
    transform: scale(1.2);
    filter: invert(31%) sepia(99%) saturate(7365%) hue-rotate(358deg) brightness(107%) contrast(89%);
    transition: 200ms;
}

#search button {
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: calc(0.15 * var(--medium-text-2)) dashed var(--light-1);
    border-left: none;

    background: var(--my-blue-1);
    cursor: pointer;
    transition: var(--speed-2);
}

#search button:hover {
    background: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

#search button img{
    height: 75%;
    filter: invert(100%) sepia(0%) saturate(837%) hue-rotate(250deg) brightness(125%) contrast(100%);
}