<div id="login-menu">
    <div id="text">
        <span id="profile-logo">MyRoom</span>
        <span id="description" class="dark">интернет-магазин мебели</span>
        <span id="description">Войти в аккаунт</span>
    </div>

    <div id="profile-inputs">
        <input type="text" placeholder="Логин" v-model="user.login" :wrong="wrongInput.login">
        <input type="password" placeholder="Пароль" v-model="user.password" :wrong="wrongInput.password">
        <button @click="loginReq" :disabled="haveErrors">Войти</button>
    </div>
</div>

<button id="to-signup-btn" @click="$router.push({name: 'signup'})">
    <span>Зарегестрироваться</span>
    <img src="/icons/right.svg" alt="Войти">
</button>