<div id="signup-menu">
    <div id="text">
        <span id="profile-logo">MyRoom</span>
        <span id="description" class="dark">интернет-магазин мебели</span>
        <span id="description">Регистрация</span>
    </div>

    <div id="profile-inputs">
        <template v-if="step == 0">
            <input type="text" placeholder="Логин" v-model="user.login">
            <input type="password" placeholder="Пароль" v-model="user.passwordOne">
            <input type="password" placeholder="Подтвердите пароль" v-model="user.passwordTwo"  v-bind:wrong="wrongInput.password">
            <button @click="signupStep1">Далее</button>
        </template>
        
        <template v-if="step == 1">
            <input type="text" placeholder="Ваше имя" v-model="user.name">
            <input type="email" placeholder="Почта email" v-model="user.email">
            <input type="email" placeholder="Телефон (необязательно)" v-model="user.phone">
            <button @click="signupReq">Зарегистрироваться</button>
            <button @click="step -= 1">Назад</button>
        </template>
        
    </div>
</div>

<button id="to-login-btn" @click="$router.push({name: 'login'})">
    <img src="/icons/left.svg" alt="Войти">
    <span>Войти в аккаунт</span>
</button>

<img src="/gifs/loading.gif" alt="">