@import url('/css/profile.css');

.section {
    margin-bottom: calc(0.5 * var(--mini-text));
    padding: calc(0.25 * var(--mini-text)) calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    min-height: calc(1.75*var(--medium-text-2));
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    border: calc(0.15 * var(--medium-text-2)) solid var(--light-1);
    font-size: var(--mini-text);

    background-color: var(--light-2);
    color: var(--my-blue-2);

    transition: var(--speed-1);
}
.section[open] {
    color: var(--light-1);
    border: calc(0.15 * var(--medium-text-2)) solid var(--dark-1);
    background-color: var(--dark-2);
}

.section summary .material-icons {
    margin-right: calc(0.75 * var(--mini-text));
    transition: var(--speed-1);
}

.section[open] summary .material-icons {
    transform: rotate(180deg);
    transition: var(--speed-1);
}

.section summary {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section summary > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section summary {
    padding: 0 calc(0.25 * var(--mini-text));
    cursor: pointer;
}
.section summary button {
    display: none;
    padding: calc(0.125 * var(--mini-text)) calc(0.5 * var(--mini-text));

    z-index: 5;

    box-sizing: border-box;
    min-width: calc(7 * var(--mini-text));

    justify-content: center;
    align-items: center;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);

    color: var(--light-1);
    background-color: var(--my-green-1);
    transition: var(--speed-2);
}

.section summary button:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

.section summary button:active {
    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition: var(--speed-2);
}

.section[open] summary button {
    display: flex;
}

.confirm-btn {
    margin-top: calc(0.25 * var(--mini-text));

    max-height: calc(2*var(--mini-text));

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;

    outline: none;
    border: calc(0.15 * var(--medium-text-2)) solid var(--light-1);

    color: var(--light-1) !important;
    background-color: var(--my-green-1);
    transition: var(--speed-2);
}
.confirm-btn:hover {
    background-color: var(--my-yellow);
    transition: var(--speed-2);
}
.confirm-btn:active {
    background-color: var(--my-green-2);
    transition: var(--speed-2);
}

.order-card {
    margin-bottom: calc(0.25 * var(--mini-text));
    padding: calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    position: relative;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: calc(0.25 * var(--mini-text));

    border: calc(0.15 * var(--medium-text-2)) solid var(--light-1);
    font-size: var(--mini-text);

    background-color: var(--light-2);
    color: var(--my-blue-2);

    transition: var(--speed-1);
}

.order-card .info {
    box-sizing: border-box;

    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1;
    gap: calc(0.25 * var(--mini-text))
}

.order-card .last {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.order-card .info span {
    padding: calc(0.25 * var(--mini-text));
    box-sizing: border-box;
    width: 100%;
    min-width: auto;
    background-color: var(--light-1);
}

.id-order {
    position: absolute;
    bottom: 0;
    right: 0;
}