@import url('/css/profile.css');
@import url('/css/paymentConfirm.css');

.section {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    gap: calc(0.5 * var(--mini-text));
}

.section a {
    box-sizing: border-box;
    min-height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--my-blue-2);
    transition: var(--speed-2);
    flex: 1 1;
}
.section a:hover {
    color: var(--my-yellow);
    transition: var(--speed-2);
}
.section a:active {
    color: var(--my-orange);
    transition: var(--speed-2);
}

.section span {
    padding: 0 calc(0.5 * var(--mini-text));
    box-sizing: border-box;
    min-height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-1);
}

.section input {
    padding: 0 calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    width: min-content;
    flex: 1 1;

    text-align: center;
    border: calc(0.125 * var(--medium-text-2)) solid var(--light-2);
    border-right: calc(0.125 * var(--medium-text-2)) solid var(--light-2);
    border-top: none;
    border-bottom: none;
    outline: none;

    color: var(--my-blue-2);
    background-color: var(--light-1);
}

.yellow {
    color: var(--my-yellow)
}

.orange {
    color: var(--my-orange)
}
 
.confirm-btn {
    padding: calc(0.25 * var(--mini-text)) calc(0.5 * var(--mini-text));
    margin: 0;
    width: 100%;
    min-width: max-content;
}

.dropdown {
    min-width: max-content;
    position: relative;
    display: inline-block;
    align-self: center;
    flex: 1 1;
}

.dropdown-text {
    padding: 0 calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    height: calc(2 * var(--mini-text));

    display: flex;
    align-items: center;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);

    font-size: calc(0.8 * var(--mini-text));

    background-color: var(--my-blue-1);
    color: var(--light-1);
    
    transition: var(--speed-2);
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    transition: all var(--speed-1);
}

/* Links inside the dropdown */
.dropdown-content div {
    padding: calc(0.25 * var(--mini-text)) calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    width: 100%;

    display: block;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);

    color: var(--my-blue-2);
    background-color: var(--light-2);

    transition: var(--speed-2);
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
    color: var(--light-1);
    background-color: var(--my-yellow);
    transition: var(--speed-2);
}

.dropdown-content div.active {
    color: var(--light-1);
    background-color: var(--my-orange);
    transition: var(--speed-2);
}

.dropdown-content div.disabled {
    color: var(--dark-3);
    background-color: var(--dark-1);
    transition: var(--speed-2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: all var(--speed-1);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-text {
    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);
    background-color: var(--my-green-1);
    transition: var(--speed-2);
}