<div id="profile-content">
    <div id="header" class="row">
        <div id="photo">
            <img :src="userData.photoURL || '/icon/profile.svg'" alt="Фотография профиля">
        </div>

        <div id="text">
            <span id="logo">MyRoom</span>
            <span id="name">Добро пожаловать, {{userData.name}}!</span>
        </div>
    </div>

    <div id="panel">
        <div id="buttons">
            <div class="block">
                <router-link 
                    v-for="(pageName, key) in {shippingConfirm: 'Поставки', paymentConfirm: 'Оплата заказов'}"
                    :to="{ name: key }" 
                    class="button" 
                    active-class="active-btn"
                >
                {{pageName}}
                </router-link>
            </div>
            <div class="block">
                <router-link 
                    v-for="(pageName, key) in {deliveryConfirm: 'Отправка товаров'}"
                    :to="{ name: key }" 
                    class="button" 
                    active-class="active-btn"
                >
                {{pageName}}
                </router-link>
            </div>
        </div>
        <div id="text">Панель бухгалтера</div>
    </div>
</div>