@import url('/css/profile.css');

#categories-box {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

#categories-box * {
    box-sizing: border-box;
}

input {
    padding: 0 calc(0.5 * var(--mini-text));

    height: 100%;
    flex: 1 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;

    text-align: center;

    color: var(--my-blue-2);
    background-color: var(--light-1);
}

input::placeholder {
    font-size: calc(0.8 * var(--mini-text));
    white-space: normal;
    color: var(--my-blue-1)
}

#head-menu {
    margin-bottom: var(--mini-text);
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#head-menu div {
    height: 100%;
    flex: 1 1;
}

#head-menu button {
    margin: 0 calc(0.5 * var(--mini-text));
    padding: calc(0.25 * var(--mini-text));

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);

    color: var(--light-1);
    background-color: var(--my-green-1);
    transition: var(--speed-2);
}

#head-menu button:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}
#head-menu button:active {
    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition: var(--speed-2);
}

#head-menu button#delete-btn {
    font-size: calc(0.75 * var(--mini-text));
    background-color: var(--my-orange);
}
#head-menu button#delete-btn:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
}
#head-menu button#delete-btn:active {
    background-color: var(--my-red-1);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-red-1);
}

#head-menu span:not(.material-icons) {
    padding: 0 calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-2);
    
    font-size: calc(0.75 * var(--mini-text));

    background-color: var(--my-blue-2);
    color: var(--light-2);
}

.category-item {
    margin-bottom: calc(0.5 * var(--mini-text));
    padding: calc(0.25 * var(--mini-text));

    min-height: calc(2 * var(--mini-text));

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    border: calc(0.125 * var(--medium-text-2)) dashed var(--light-1);

    background-color: var(--my-blue-1);
}

.category-item div {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.category-item input[type="text"] ~ label {
    margin-right: calc(0.5 * var(--mini-text));
    padding: calc(0.25 * var(--mini-text)) calc(0.5 * var(--mini-text));

    display: flex;

    justify-content: center;
    align-items: center;

    color: var(--my-blue-2);
    background-color: var(--light-1);
    transition: var(--speed-2);
}

.category-item input[type="text"]:hover ~ label {
    color: var(--my-yellow);
    transition: var(--speed-2);
}

.category-item span:not(.material-icons) {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light-2);
}

.delete-check-label {
    min-width: calc(1.75 * var(--mini-text));
    max-height: calc(1.75 * var(--mini-text));
    align-self: center;
}