@import url('/css/profile.css');

#categories-box {
    box-sizing: border-box;
    width: 100%;

    flex-direction: column;
    align-items: stretch;
}

.category-item {
    margin: calc(0.25 * var(--mini-text)) 0;

    min-height: calc(2 * var(--mini-text));

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    border: calc(0.15 * var(--medium-text-2)) dashed var(--my-blue-1);

    background-image: var(--back-img);
    background-position:  calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;
    
    transition: var(--speed-2);
}

#category-head.category-item {
    background-image: none;
    border: none;
}

#category-head.category-item > div, #category-head.category-item > span {
    width: 30%;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-align: center;

    border: calc(0.15 * var(--medium-text-2)) solid var(--light-1);
    background-color: var(--light-2);
}

#category-head.category-item > div input {
    height: 100%;
    width: 10px;
    flex: 4 1;
}

#category-head.category-item > div input::placeholder {
    top: 0;
    white-space: normal;
    font-size: calc(0.75*var(--mini-text));
}

#category-head.category-item > div button {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    border: none;
    outline: none;
    color: var(--light-1);
    background-color: var(--my-blue-1);
    transition: var(--speed-2);
}

#category-head.category-item > div button span {
    color: var(--my-red-1);
}

#category-head.category-item > div input ~ button:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

#category-head.category-item > div input ~ button span {
    color: var(--light-1);
}

.category-item:hover {
    border: calc(0.15 * var(--medium-text-2)) dashed var(--my-blue-2);
    transition: var(--speed-2);
}

.category-item input[type='text'] {
    padding: 0 calc(0.5 * var(--mini-text));

    font-size: calc(0.8 * var(--medium-text-2));
    /*border: calc(0.15 * var(--medium-text-2)) solid var(--light-2);*/
    border: none;

    color: var(--my-blue-2);
    background-color: var(--light-1);
}

.category-item input[type='text']:focus {
    outline: none;
}

.category-item label {
    padding: 0 calc(0.5 * var(--mini-text));
    
    line-height: calc(0.5*var(--medium-text-2));

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /*border: calc(0.15 * var(--medium-text-2)) solid var(--light-2);*/
    border: none;
    color: var(--my-blue-1);
    background-color: var(--light-1);
}

.category-item input[type='checkbox'] {
    margin: 0 calc(0.5 * var(--mini-text));

    width: var(--mini-text);
    height: var(--mini-text);

    outline: none;
    border: none;

    align-self: center;
}

.category-item span {
    color: var(--my-blue-2);

    line-height: calc(0.5*var(--medium-text-2));

    display: flex;
    align-items: center;
    
    transition: var(--speed-2);
}

.category-item label:hover .material-icons {
    color: var(--my-yellow);
    transition: var(--speed-2);
}

.category-item label .delete-btn {
    color: var(--my-orange);
    transition: var(--speed-2);
}

.category-item label:hover .delete-btn {
    color: var(--my-red-1);
    transition: var(--speed-2);
}

.category-item label:active .delete-btn {
    color: var(--my-red-2);
    transition: var(--speed-2);
}