@import url('/css/profile.css');

#product-box {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
}

#head-menu {
    margin-bottom: var(--mini-text);
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 47%;
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: stretch;
}

.dropdown-text {
    padding: 0 calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    height: calc(1.75*var(--medium-text-2));

    align-items: center;

    border: calc(0.125 * var(--medium-text-2)) dashed var(--light-1);

    font-size: var(--mini-text);

    background-color: var(--my-blue-1);
    color: var(--light-1);
    
    transition: var(--speed-2);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: all var(--speed-1);
}

/* Links inside the dropdown */
.dropdown-content div {
    padding: calc(0.25 * var(--mini-text)) calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    width: 100%;

    display: block;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);

    color: var(--my-blue-2);
    background-color: var(--light-2);

    transition: var(--speed-2);
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
    color: var(--light-1);
    background-color: var(--my-yellow);
    transition: var(--speed-2);
}

.dropdown-content div.active {
    color: var(--light-1);
    background-color: var(--my-orange);
    transition: var(--speed-2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: all var(--speed-1);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-text {
    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);
    background-color: var(--my-blue-2);
    transition: var(--speed-2);
}

#product-card {
    margin-bottom: calc(0.5 * var(--mini-text));
    padding: calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    min-height: calc(1.75*var(--medium-text-2));
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    border: calc(0.125 * var(--medium-text-2)) dashed var(--light-1);
    font-size: var(--mini-text);

    background-color: var(--my-blue-1);
    color: var(--light-1);

    transition: var(--speed-1);
}

#product-card summary, #product-card .row {
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#product-card summary {
    padding: 0 calc(0.25 * var(--mini-text));
}

#product-card summary button {
    padding: calc(0.25 * var(--mini-text)) calc(0.5 * var(--mini-text));

    box-sizing: border-box;
    min-width: calc(7 * var(--mini-text));

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-1);

    color: var(--light-1);
    background-color: var(--my-green-1);
    transition: var(--speed-2);
}

#product-card summary button:hover {
    background-color: var(--my-yellow);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-yellow);
    transition: var(--speed-2);
}

#product-card summary button:active {
    background-color: var(--my-orange);
    box-shadow: 0px 0px var(--medium-text-1) var(--my-orange);
    transition: var(--speed-2);
}

#product-card form {
    margin-top: calc(0.5 * var(--mini-text));

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

#product-card .row div:not([id="new-photo"]) {
    padding: calc(.25 * var(--mini-text));

    box-sizing: border-box;

    flex: 1 1;

    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#product-card .row div[id="new-photo"] {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-card .row div input, #product-card .row div textarea {
    padding: calc(.5 * var(--mini-text));
    
    box-sizing: border-box;
    width: 100%;
    height: calc(2*var(--mini-text));

    border: none;
    outline: none;

    text-align: center;

    color: var(--my-blue-2);
    background-color: var(--light-1);
}

#product-card .row div input::placeholder, #product-card .row div textarea::placeholder {
    color: var(--my-blue-1);
}

#product-card .row div input[type='number']::-webkit-inner-spin-button {
    opacity: 1;
}

#product-card .row div textarea {
    width: 100%;
    resize:vertical;
    min-height: calc(5 * var(--mini-text));
    text-align: justify;
}

.product-form #photos {
    margin: calc(0.25 * var(--mini-text));

    box-sizing: border-box;
    max-width: 100%;

    border: calc(0.125 * var(--medium-text-2)) solid var(--light-2);

    color: var(--my-blue-2);
    background-image: var(--back-img);
    background-position:  calc(0.5 * var(--mini-text)) 0, calc(0.5 * var(--mini-text)) 0, 0 0, 0 0;
    background-size: calc(0.5 * var(--mini-text)) calc(0.5 * var(--mini-text));
    background-repeat: repeat;
}

.product-form #photos .row {
    flex-wrap: wrap;
}

.product-form #photos summary {
    padding: calc(.5 * var(--mini-text));
    background-color: var(--light-1);
}

.product-form #photos img, .product-form #photos #new-photo {
    margin: calc(0.5 * var(--mini-text));

    object-fit: scale-down;
    box-sizing: border-box;
    min-width: calc(10 * var(--mini-text));
    max-width: calc(12 * var(--mini-text));
    height: calc(7.5 * var(--mini-text));

    flex: 1 1;

    border: calc(0.125 * var(--medium-text-2)) solid var(--my-blue-1);

    color: var(--light-2);
    background-color: var(--light-1);
}

.product-form #photos #new-photo {
    justify-content: center;
    align-items: center;
}

.product-form #photos #new-photo span {
    font-size: calc(3 * var(--mini-text));
    transition: var(--speed-2);
}

.product-form #photos #new-photo:hover span {
    color: var(--my-yellow);
    transition: var(--speed-2);
}

.product-form #photos #new-photo:active span {
    color: var(--my-orange);
    transition: var(--speed-2);
}














.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--light-2);
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  