<div id="panel">
    <div id="buttons">
        <router-link
            v-for="(pageName, key) in {statistics: 'Продажи', orders: 'Заявки на поставку', usersOrders: 'Оформление заказов'}"
            :to="{ name: key }" class="button" active-class="active-btn">
            {{pageName}}
        </router-link>
    </div>
    <div id="text">Панель менеджера. Продажи</div>
</div>

<div class="section">
    <div class="dropdown">
        <div class="dropdown-text">Текущая категория: {{selectedCategory.name || 'не выбрана'}}</div>
        <div class="dropdown-content">
            <div v-for="category in categories" @click="selectedCategory = category"
                :class="{'active': selectedCategory == category}">{{category.name}}</div>
        </div>
    </div>
    <button v-if="checkOrderCount" class="confirm-btn" @click="takeOrder()">Совершить заказ</button>
</div>

<div v-for="product in products" class="section">
    <a :href="'/catalog/'+selectedCategory.ENname+'/'+product.name">{{product.name}}</a>
    <span>Остаток: {{product.count || 0}}</span>
    <span>В избранном у: {{getCountOf(product.uuid, 0)}} чел.</span>
    <span>Хочет приобрести: {{getCountOf(product.uuid, 1)}} чел.</span>
    <span>Ожидает подтверждения оплаты: {{usersOrders.filter(order => (order.status == 2) && (order.ProductUuid == product.uuid)).length}}</span>
    <span>Отправлено покупателям: {{usersOrders.filter(order => (order.status == 4) && (order.ProductUuid == product.uuid)).length}}</span>
</div>